{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
    <div class="card">
        <h2>Criar conta</h2>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.errors }}
                <label>Usuário: </label>
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password1.errors }}
                <label>Senha: </label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ form.password2.errors }}
                <label>Confirmação de senha: </label>
                {{ form.password2 }}
            </div>
            <div class="form-group">
                <button type="submit">Cadastrar</button>
            </div>
        </form>

        <p>Já tem conta? <a href="{% url 'accounts:login' %}">Entrar</a></p>
    </div>
{% endblock %}